.galeriaproductos{
 width: 100%;
 height: 100vh;
 display: grid;
 grid-template-columns: 1fr 2fr;
 grid-template-rows: 1fr 1fr;
 margin-top: 1rem;
 gap: 1rem;
 padding: 1rem;
 background-color: cadetblue;
 

}

.galeriaright{
 grid-column: 2/3;
 grid-row: 1/3;
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr;
 gap: 4rem;
 align-items: center;
}

.galeriaright article{
 justify-content: center;
}


