
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@600&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@700&family=Poppins&display=swap');
.inicio{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    justify-content: center;
    align-items: center;
    z-index: 8;
    position: fixed;
    top: 0rem;
    left: 0;
    
}
.contenedor{
    display: flex;
    width: 93vh;
    height: 45vh;
    background-color: snow;
    padding-bottom: 1rem;
   
}
.item img { 
    width: 50vh;
    height: auto;
    padding: 1rem;
}

.item{
    display: flex;
    align-content: center;
}
.cerrar{
    width: 93vh;
    display: flex;
    align-items: flex-start;
    justify-content: right;
    position: absolute; 
    padding: 1rem;
}
.cerrar button{
    background-color: snow;
    font-size: 15px;
    padding-top: 0.25rem;
    padding-right: 0.50rem;
    cursor: pointer;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 45vh;
    padding-top: 3rem;

}
.info p {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    padding-bottom:0.75rem;
    text-align: justify;
    padding-right: 1rem;
    
    
}
.info h1 {
    font-family: 'Anuphan', sans-serif;
    font-size: 14px;

    font-weight: 600;
    
}
.info h2 {
    font-size: 11px;
    font-family: 'Anuphan', sans-serif;
    font-weight: 600;
    padding-top:1rem;
}
.info h3 {
    font-size: 9px;
    font-family: 'Anuphan', sans-serif;
    font-weight: 100;
}
.info h4 {
    display: flex;
    font-size: 12px;
    width: 6rem;
    height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #ecddd9;
}
.boton{
    display: flex;
    justify-content: end;
    width: 65vh;
    height: 40vh;
    align-items: end;
    position: absolute;
}
.boton button{
    display: flex;
    justify-content: center;
    background-color:  #ecddd9;
    font-family: 'Anuphan', sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: #5e5e5e;
    width: 7rem;
    align-items: center;
    height: 1.2rem;
    border-radius: 2px;
    cursor: pointer;

}
.boton span{
    font-size: 14px;
    padding-top: 4px;
    padding-left: 0.75vh;
    
    

}

@media (max-width: 768px){
    .contenedor{
      width: 80vw;
      height: auto;
    }
    .info h1{
        margin-top: 2rem;
    }
    .cerrar{
        width: 80vw;
    }

    .cerrar button{
        width: 1.5rem;
    }

    .boton{
        height: 35vh;
        width: 68vw;
    }
  }

  @media (max-width: 420px){
    .contenedor{
        width: 70vw;
        display: flex;
        height: 55vh;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .item img {
        display: flex;
        width: 65vw;
        padding-bottom: 0;
    }

    .info{
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0;
        gap: 1rem;
    }

    .info p{
        padding-left: 18px;
        padding-bottom: 0;
    }

    .info h2{
        padding: 0;
    }

    .boton{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        margin-top: 8rem ;
    }

    .info h4{
        margin-bottom: 1rem;
    }

    .info h3{
        margin: 0;
        font-size: 12px;
        font-weight: 500;
        
    }

    .cerrar{
        width: 20rem;    
    }

    .cerrar button{
        width: 1.5rem;
    }
  }