.titulo {
    background-color: #000000;
    height: 7rem;
    width: 100%;
    display: flex;
   }

.logo {
    width: 13rem;
    height: 5.5rem;
    margin-left: .5rem;
    margin-top: 1rem;
}

.cart {
    color: #b8b852;
    width: 2rem;
    height: 2rem;
}
